/* 2024年2月3日 */
/* xlbt */
*{
    /* 初始化 */
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
} 
body{
    /* 100%窗口高度 */
    min-height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353540 no-repeat center center fixed;
    background-image:url(https://api.dujin.org/bing/1920.php);
    overflow: hidden;/* 禁止页面滑动 */
}

/* 背景盒子 */
.box{
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-top:1px solid rgba(255, 255, 255, 0.6) ;
    border-left:1px solid rgba(255, 255, 255, 0.6) ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 400px;
    height: 550px;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.5);
}
/* 标题 */
.box .tit{
    font-size: 40px;
    color: #ffffff ;
    margin: 90px auto 50px auto; 
    text-indent: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
@keyframes myfirst_input
{
	from {border-bottom: 1px solid #fff}
	to {border-bottom: 1px solid rgb(3, 182, 237);}
}

@keyframes myfirst_input_error
{
	from {border-bottom: 1px solid #fff}
	to {border-bottom: 1px solid rgb(217, 7, 7);}
}

@keyframes myfirst_button {
    from {background: rgb(3, 182, 237);}
    to {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
    }
}
/* 登录框 */
.box input{
    width: 250px;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.6) ;
    margin: 5px auto;
    outline: none;
    color: #fff;
    text-indent: 8px;
}

/*输入框 获取焦点时变色 */
.box input:focus {
    animation:myfirst_input 0.5s;
    border-bottom: 1px solid rgb(3, 182, 237);
}

/* 登录按钮 */
.box button{
    width: 250px;
    height: 30px;
    background:rgb(3, 182, 237);
    border:none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    letter-spacing:10px;
}

.box .outbth{
    width: 250px;
    height: 30px;
    background:rgb(238, 50, 50);
    border:none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    letter-spacing:10px;
}

/* 按钮获得焦点变色
.box button:hover {
    animation:myfirst_button 1s;
    animation-fill-mode: forwards;
} */

/* 标签 */
.box span{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.box a{
    margin: 10px auto;
    color:rgb(3, 182, 237);
    font-size: 14px;
    text-decoration: none;
}
/* 提示内容 */
.box .tips{
    height: 10px;
    width: 250px;
    margin: 2px;
    font-size: 11px;
    position: relative;
    left: 5px;
    color: red;
}

/* placeholder 颜色 */
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}